listen: :${PORT}

# بدون TLS - فقط برای تست
# tls:
#   cert: ...
#   key: ...

auth:
  type: password
  password: ${PASSWORD}

obfs:
  type: salamander
  salamander:
    password: ${OBFS_PASSWORD}

# اجازه insecure
insecure: true

masquerade:
  type: proxy
  proxy:
    url: https://www.google.com
