listen: :${PORT}

acme:
  domains:
    - ${DOMAIN}
  email: ${EMAIL}
  alt_http_port: 8080
  alt_tls_port: 8443

auth:
  type: password
  password: ${PASSWORD}

obfs:
  type: salamander
  salamander:
    password: ${OBFS_PASSWORD}

bandwidth:
  up: 100 mbps
  down: 100 mbps

masquerade:
  type: proxy
  proxy:
    url: https://www.google.com
    rewriteHost: true

log:
  level: error
