listen: :${PORT}

# ✨ TLS دستی - بدون ACME
tls:
  cert: ${CERT}
  key: ${KEY}
  sni: ${SNI}

auth:
  type: password
  password: ${PASSWORD}

obfs:
  type: salamander
  salamander:
    password: ${OBFS_PASSWORD}

bandwidth:
  up: 100 mbps
  down: 100 mbps

masquerade:
  type: proxy
  proxy:
    url: https://www.google.com
    rewriteHost: true

log:
  level: error
